body    {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    line-height: 1.6;

}
header{background-color: #333;
    color:#fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display:inline;
    margin: 0 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin:20px 0;
}
footer {
    background-color: #333;
    color:#fff ;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
footer .redes-sociales img {
    width: 30px;
    margin: 0 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc
}
th,td {
    padding: 10px;
    text-align: left;
}
form label {
    display: block;
    margin-top:10px;
}
form input, form select , form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color:#fff;
    border: none;
    cursor: pointer
}
form button:hover {
    background-color:  #555;
}